{% set nav = [
  {link: '/', name: 'Главная'},
  {link: '/order.html', name: 'Мебель на заказ'},
  {link: '/order.html', name: 'Кухни'},
  {link: '/order.html', name: 'Фасады'},
  {link: '/portfolio.html', name: 'Наши работы'},
  {link: '#', name: 'Клиентам'},
  {link: '/about.html', name: 'О нас'},
  {link: '/contacts.html', name: 'Контакты'}
] %}

<!-- start header -->
{% if index === true %}
<header class="header">
{% else %}
<header class="header header--dark">
{% endif %}
  <div class="container header__container">
    <div class="logo header__logo">
      {{ mixins.icon('logo') }}
    </div>

    <div class="header__hamb">
      {{ mixins.icon('hamb1') }}
      {{ mixins.icon('hamb2') }}
      {{ mixins.icon('hamb3') }}
    </div>

    <div class="header__wrap">
      <nav class="header__nav">
        <ul class="header__nav-list">
          {% for item in nav %}
            {% if item.name === 'Клиентам' %}
              <li class="header__nav-item flex-fe popover-open">
                <a href="#" class="header__nav-link">
                  {{ item.name }}
                </a>
                <span class="chevron-down"></span>
                <div class="popover">
                  <ul class="popover-list">
                    <li class="popover-list__item">
                      <a href="/about.html" data-text="О компании">О компании</a>
                    </li>
                    <li class="popover-list__item">
                      <a href="/sales.html" data-text="Акции">Акции</a>
                    </li>
                    <li class="popover-list__item">
                      <a href="/cooperation.html" data-text="Сотрудничество">Сотрудничество</a>
                    </li>
                  </ul>
                </div>
              </li>
            {% else%}
              <li class="header__nav-item">
                <a href="{{ item.link }}" class="header__nav-link">
                  {{ item.name }}
                </a>
              </li>
            {% endif %}
          {% endfor %}
        </ul>
      </nav>

      <a href="tel:+79371403815" class="header__phone">+7 937 140 38 15</a>
    </div>
  </div>
</header>
<!-- end header -->